/* 商品圖片的動畫效果 */
.FeaturedProducts-image-wrapper {
    overflow: hidden; /* 確保圖片不會溢出 */
    position: relative;
}

.FeaturedProducts-image-wrapper img {
    transition: transform 0.4s ease, filter 0.4s ease; /* 動畫效果的過渡時間 */
    transform: scale(1); /* 初始狀態 */ 
    filter: brightness(100%);
}

.Featuredproduct-image-wrapper:hover img {
    transform: scale(1.1); /* 鼠標懸停時放大 */
    filter: brightness(90%); /* 暗化效果 */
}

.hero-section {
    height: 80vh;
    position: relative;
    overflow: hidden;
    
}

.hero-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

